.marquee {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 7.5vh 0;
  background-color: #010101;
  position: relative;
  overflow: hidden;
}
.title {
  text-align: center;
}
.track {
  width: 100%;
  overflow: hidden;
  display: flex;
}
.row {
  display: flex;
  align-items: center;
  gap: 5vw;
  width: fit-content;
  padding-right: 5vw;
  animation: marquee-scroll 30s linear infinite;
}
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.item {
  width: 9vw;
  height: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: grayscale(1) brightness(1.5);
  opacity: 0.6;
  transition: 0.3s ease;
}
.image:hover {
  filter: grayscale(0) brightness(1);
  opacity: 1;
}
.fadeLeft,
.fadeRight {
  position: absolute;
  top: 0;
  width: 15vw;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
.fadeLeft {
  left: 0;
  background: linear-gradient(90deg, #010101 0, hsla(0, 0%, 100%, 0));
}
.fadeRight {
  right: 0;
  background: linear-gradient(270deg, #010101 0, hsla(0, 0%, 100%, 0));
}
@media (max-width: 768px) {
  .marquee {
    padding: 10vw 0;
    gap: 5vw;
  }
  .item {
    width: 25vw;
    height: 12vw;
  }
  .row {
    gap: 10vw;
    padding-right: 10vw;
  }
}
