.testimonials {
  height: fit-content;
  padding: 0;
}
.initials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: "SF PRO DISPLAY 600", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: #fff;
}
@media (max-width: 768px) {
  .initials {
    font-size: 6vw;
  }
}
